/* Common define */

h1 {
    text-align: center
}

img {
    width: 300;
    height: 200;
    box-shadow: 0px 0px 5px gray;
}
img:hover {
    box-shadow: 0px 0px 10px #5cb85c;
    cursor: pointer;
}

/* The Iframe */
iframe {
    width: 70%;
    height: 90%;
    float: left;
    padding-right: 10px
}

/* The Model header */
.modal-header {
    display: inline-block;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: #5cb85c;
    color: white;
}

/* The Close Button */
.close {
    float: left;
    padding: 10px;
    color: white;
    font-size: 38px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}

/* add models class here */
.autotunePID-model,
.clipboardIPC-model {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0%;
    left: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full device height */
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,0.8);
    overflow: auto; 
}

